@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<IndexProductViewModel>

<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card h-100">
                    <img alt="image" src="@Url.Content(item.imgURL)">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="card-title">@item.productName</h5>
                            <p>@item.brand</p>
                            <p>$@item.price</p>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-white mt-auto" href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="col">
            <div class="card h-100">
                <img src="~/images/Dotabg.jpg" class="card-img-top" alt="...">
                <div class="card-body p-4">
                    <div class="text-center">
                        <h5 class="card-title">Card title</h5>
                        <p>$20</p>
                    </div>
                </div>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                        <a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/images/Dotabg.jpg" class="card-img-top" alt="...">
                <div class="card-body p-4">
                    <div class="text-center">
                        <h5 class="card-title">Card title</h5>
                        <p>$20</p>
                    </div>
                </div>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                        <a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-5">
            <div class="card h-100">
                <img src="~/images/Dotabg.jpg" class="card-img-top" alt="...">
                <div class="card-body p-4">
                    <div class="text-center">
                        <h5 class="card-title">Card title</h5>
                        <p>$20</p>
                    </div>
                </div>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                        <a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>
