<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DCT1205</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/DCT1205.styles.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="~/css/sidebars.css" rel="stylesheet">
    
</head>
<body>
    <nav class="navbar bg-body-tertiary bg-info" data-bs-theme="info">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="User" asp-action="Home">
                <img src="~/images/Dotabg.jpg" alt="logo" width="120" height="60">
            </a>
            <div class="navbar-menu-wrapper bg-info d-flex align-items-center justify-content-end">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit" style="color: snow;border: 1px solid #dee2e6;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </button>
                </form>
                @*<i class="fa-solid fa-cart-shopping fa-2xl" style="color: #000000;"></i>*@
                @*<partial name="_LoginPartial" />*@
            </div>
        </div>
    </nav>

    <div class="container-fluid page-body-wrapper">
        <div class="flex-shrink-0 p-3" style="width: 280px;  border-right: 1px solid #d3d3d3;background-image: url(https://colorlib.com/etc/bootstrap-sidebar/sidebar-06/images/bg_1.jpg);">
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                        <span class="fa fa-home mr-3"></span>
                        Home
                    </button>
                    <div class="collapse" id="home-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a class="nav-link" asp-controller="Home" asp-action="Index">Adnin Hone</a></li>
                            <li><a class="nav-link" asp-controller="User" asp-action="Home">User Home</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1"> 
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#product-collapse" aria-expanded="false">
                        Product
                    </button>
                    <div class="collapse" id="product-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li class="nav-item"><a class="nav-link" asp-controller="Product" asp-action="Create"> New Product</a></li>
                            <li class="nav-item"><a class="nav-link" asp-controller="Product" asp-action="Index"> All Produt</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#payment-collapse" aria-expanded="false">
                        Payment
                    </button>
                    <div class="collapse" id="payment-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li class="nav-item"><a class="nav-link" asp-controller="Payment" asp-action="Index"> All Payment</a></li>
                        </ul>
                    </div>
                </li>
     
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                        Orders
                    </button>
                    <div class="collapse" id="orders-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li class="nav-item"><a class="nav-link" asp-controller="Order" asp-action="Index"> All Order</a></li>

                        </ul>
                    </div>
                </li>

                <li class="nav-item"><a class="nav-link" asp-controller="AppRoles" asp-action="Index">Role</a></li>

                <li class="border-top my-3"></li>
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">        
                            <strong>Admin</strong>
                    </button>
                    <div class="collapse" id="account-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Profile</a></li>
                            <li>
                                <a class="btn btn-warning btn-outline-light me-2" href="#userHomePage">
                                    <form class="form-inline"  asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Home", "User", new { area = "" })">
                                        <button type="submit" class="nav-link btn btn-link text-dark">Sign out</button>
                                    </form>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        

        <div class="main-panel">
            <div class="content-wrapper" style="background: white;">
                @RenderBody()
            </div>
            <footer class="footer" style="background: white;">
                <p> &copy; @DateTime.UtcNow.Year - MVC_model - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
            </footer>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
