<form method="post" asp-action="AddToCart" enctype="multipart/form-data">
<p class="alert alert-danger">Giỏ hàng trống</p>
<div class="form-group">

    <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Save</button>
    <a asp-action="index" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
    <br />
    <br />
    <br />

</div>
</form>