@{
    Layout = "_LayoutUser";
}
@model UserCartIndex

<section class="py-5">
    <div class="card">
        <div class="card-body" style="background: white">
            <div class="row">
                <div class="col-md-12 table-responsive-md">
        
                    <table class="table table-strip table" style="color: black;">

                        <thead>
                            <tr>
                                <th>Product name</th>
                                <th>Quantity</th>
                                <th>Product price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.listItem)
                            {
                                <tr>
                                    <td>@item.productName</td>
                                    <td>@item.quantity</td>
                                    <td>$@item.productPrice</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="py-5" style="padding-bottom: 1rem !important;"
                    <li class="list-group-item d-flex justify-content-between">
                        <strong style="padding-left:1rem">Total </strong>
                        <strong style="padding-left:50.7rem">$@Model.totalPrice</strong>
                    </li>
                </div>
               
                <div class="container overflow-hidden text-center">
                    <div class="row gx-5">
                        <div class="col">
                            <a class="nav-link  btn btn-primary btn-lg" asp-controller="Payment" asp-action="Create" style="color: white">Continue to checkout</a>
                        </div>
                        <div class="col">
                            <a class="nav-link  btn btn-primary btn-lg" asp-controller="Product" asp-action="Search" style="color: white">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        

    </div>
</section>